@use 'fonts';

$primary-color: #00d377;
$secondary-color: #00d377;
$body-text-color: #00d377;
$welcome-font-family: 'Orbitron', helvetica, arial;
$heading-font-family: 'Orbitron', helvetica, arial;
$body-font-family: 'Orbitron',arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
