@use '../abstracts' as a;
header {
   background-color: #25422b;
   padding: 10px 0px;  
}

#header-logo {
   padding-top: 10px;
   padding-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}