body {
    background-color: #123b1f;
}

.nav-width-bg {
    background-color: #120F0F;
}

.mobile-feature {
    display: block;

    @media (min-width: 760px) {
        display: none;
    }
}

.desktop-feature {
    display: none;

    @media (min-width: 760px) {
        display: block;
    }
}