body {
    background-color: #1f3723;
}

.mobile-feature {
    display: block;

    @media (min-width: 760px) {
        display: none;
    }
}

.desktop-feature {
    display: none;

    @media (min-width: 760px) {
        display: block;
    }
}

#welcome-text {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #00d377;
}

.intro-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

//characters ul
.chars-ul {
    list-style: none;
}

.chars-ul li {
    padding-bottom: 10px;
}
.chars-ul li:hover {
    background-color: #008346;
}